body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    padding: 15px 0;
    border-bottom: 10px solid red;
    height: 60px;
    line-height: 60px;
    display: block;
    background-color: white;
}

.Headerlinks {
    display:none;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

header a:first-child {
    float: left;
}

header a {
    margin: auto 15px;
    color: red;
}

header > a > img {
    height: 60px;
}

.currentPage {
    text-decoration: underline;
}

footer {
    height: 20%;
    border-top: 10px solid red;
    background-color: lightgrey;
    text-align: center;
    font-size: 0.9em;
    line-height: 50px;
    width: 100%;
    margin: 0 auto;
}

.footer div {
    display: inline-block;
    text-align: center;
    margin: 20px 100px;
}

.footer div a {
    display: block;
    color: darkslategrey;
}

footer .copyright {
    position: relative;
    bottom: 0;
    width: 100%;
    color: darkslategrey;
    margin: 0 auto;
}

.verborgen {
    display: none;
}

@media screen and  (min-width: 800px) {
    .Headerlinks {
        float: right;
        font-size: 1.2em;
    }

    .Headerlinks {
        display: inline-block;
    }

    footer .copyright {
        margin: 0 auto;
    }

    footer {
        height: 250px;
    }

    .footer div {
        text-align: left;
    }
}