footer {
    position: relative;
    height: 250px;
    border-top: 10px solid red;
    background-color: lightgrey;
    text-align: center;
    font-size: 0.9em;
    line-height: 50px;
    width: 100%;
    margin: 0 auto;
}

.footer div {
    display: inline-block;
    text-align: left;
    margin: 20px 100px;
}

.footer div a {
    display: block;
    color: darkslategrey;
}

footer .copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: darkslategrey;
}

main {
    background-image: url("../Images/Homepage image.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main picture {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60vh;
}

main picture > img {
    max-width: 500px;

}

article h1 {
    text-align: left;
    margin-left: 200px;
    color: red;
    margin-top: 50px
}

.about {
    display: grid;
    grid-template-columns: auto auto;
    gap: 90px;
    margin: 0 10% 60px 10%;
}

.about div {
    text-align: justify;
}

