main {
    background-image: url("../Images/BackgroundGSM.png");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 10px solid red;
}

main picture {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20px;
}

main picture > img {
    max-width: 300px;
}

.ACSL {
    width:90%;
    margin-top: 50px;
}

article h1 {
    text-align: center;
    color: red;
    margin-top: 50px
}

.about {
    display: block;
    grid-template-columns: auto auto;
    gap: 90px;
    margin: 0 10% 60px 10%;
}

.about div {
    text-align: justify;
    margin: 20px;
}

article {
    text-align: justify;
}

@media screen and (min-width: 800px) {

    main {
        background-image: url("../Images/Homepage image.jpg");
    }

    main picture {
        flex-direction: row;
        min-height: 35vh;
    }

    main picture > img {
        max-width: 500px;
    }

    .about {
        display: grid;
    }

    .about div {
        margin: 0;
    }

    article h1 {
        text-align: left;
        margin-left: 11%;
    }

    .ACSL {
        width: 60%;
    }
}
