body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 1.2em;
    background-color: white;
    min-height: 100vh;
}
header {
    margin: 0;
    padding: 15px 0;
    background-color: #FF6B6B ;
}

header > a > img {
    height: 60px;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    text-align: center;
    color: gray;
    font-size: 0.9em;
    line-height: 50px;
    width: 100%;
    margin: 0 auto;
}
