body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 1.2em;
    background-image: ;
    min-height: 100vh;
    font-weight: bold;
}
header {
    margin: 0;
    padding: 15px 0;
    border-bottom: 10px solid red;
    height: 60px;
    line-height: 60px;
}

.Headerlinks {
    float: right;
    font-size: 1.2em;
}

header a:first-child {
    float: left;
}

header a {
    margin: auto 15px;
    text-decoration: none;
    color: red;
}

header > a > img {
    height: 60px;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    text-align: center;
    color: gray;
    font-size: 0.9em;
    line-height: 50px;
    width: 100%;
    margin: 0 auto;
}

main {
    background-image: url("../Images/Homepage image.jpg");
    min-height: 100vh;
    background-size: cover; /* Zorgt dat de afbeelding schaalt en de hele pagina bedekt */
    background-repeat: no-repeat; /* Voorkomt herhaling */
    background-position: center;
}
