.video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: auto;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 50%;               /* zet midden van iframe op midden container */
    transform: translateX(-50%); /* schuif iframe terug zodat hij echt centreert */
    width: 100%;
    height: 100%;
    border: 0;
}

article {
    border-bottom: red solid 10px;
    margin-bottom: 0;
}

#acslVideo {
    border: none;
}


@media screen and (min-width: 800px) {
    article {
        margin-bottom: 50px;
    }

    footer {
        margin-top: 0;
    }


    .video iframe {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 80%;
        border-radius: 20px;
    }


    .video {
        aspect-ratio: 16 / 9;
        height: auto;
        padding: 0;
    }


}


