body {
    overflow: hidden;
}

.Season7 {
    background-color: #191919;
    border-bottom: 10px solid red;
    min-height: 10%;
}

.Season7 img {
    width: 60%;
    padding: 10px 0;
}

main div {
    display: flex;
    border-bottom: black 5px solid;
    padding: 0;
}

main div div {
    border: none;
}

.klasse {
    background-color: white;
    display: flex;
    justify-content: center;
}

main div a {
    color: black;
    margin: 20px 5px 20px 0;
}

main a:first-child {
    margin-left: 10px;
}

.klassement {
    width: 100%;
    display: block;
    overflow-y: scroll;
    border: none;
    background-image: url("../../../Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.klassement > div, .row {
    display: grid;
    grid-template-columns: 4fr 1fr;
    text-align: right;
}

.row p:first-child {
    text-align: left;
}

.row {
    border: none;
}

.klassement p {
    margin: 10px;
}

.klassement ol {
    height: 60vh;
}

.nodropround {
    display: none;
}

@media screen and (min-width: 800px) {
    .klasse {
        justify-content: space-between;
    }

    main .klasse a {
        margin: 20px 20px 20px 0;
    }

    main {
        background-image: url("../../../Images/background.png");
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-repeat: repeat;
        background-position: top center;
    }

    .Season7 img {
        width: 40%;
    }

    .klassement {
        width: 50%;
        border-radius: 20px;
        margin: 3% auto;
        overflow-x: hidden;
        height: auto;
    }

    .klassement ol {
        height: 40vh;
    }

    main div a {
        color: black;
        margin: 20px 20px 20px 0;
    }

    main a:first-child {
        margin-left: 30px;
    }

    .klassement {
        background-color: white;
        border: #fafafa 1px solid;
        background-image: none;
    }

    .nodropround {
        display: grid;
    }

    .klassement > div, .row {
        grid-template-columns: 4fr 1fr 1fr;
    }

    .row p:last-child {
        padding-right: 10px;
    }
}