main {
    background-image: url("../../../Images/background.png");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    background-position: top center;
    padding-top: 15px;
}