article:nth-child(2n+1) img, p h2 {;
}

article:nth-child(2n) img, p h2 {
    float: right;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: black solid 2px;
}

p {
    text-align: justify;
    width: 80%;
    font-weight: normal;
    margin-top: 0;
}

h2 {
    margin: 10px auto;
}

header, article {
    margin-bottom: 10px;
}

img {
    width: 95%;
    align-self: center;
}

@media screen and (min-width: 800px) {
    main {
        background-image: url("../../../Images/calendarb.png");
        background-size: cover;
        padding: 20px 0;

    }
    article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        margin: 20px auto 0 auto;
        padding: 20px 0;
        height: auto;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.3), 10px 0 15px -5px rgba(0, 0, 0, 0.3);
        border: none;
        border-radius: 20px;
    }

    article:first-child {
        margin-top: 0;
    }

    article img {
        width: 25%;
        height: auto;
        object-fit: contain;
        border-radius: 20px;
    }

    article div {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    article h2 {
        margin: 0 0 10px 0;
        font-size: 1.5em;
        text-align: left;
    }

    article p {
        margin: 0;
        text-align: justify;
    }

    .copyright {
        text-align: center;
    }

    header {
        margin-bottom: 0;
    }
}
