main {
    background-image: url("../../../Images/NurburgringGSM.jpg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 10px solid red;
}

main picture {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20px;
}

main picture > img {
    max-width: 350px;
}

article {
    background-color: white;
    display: block;
    text-align: justify;
    margin: 30px 10%;
    font-weight: normal;
}

article p {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}

@media (min-width: 800px) {
    main {
        background-image: url("../../../Images/Nurburgring.png");
    }
    main picture > img {
        max-width: 600px;
    }

    article {
        height: 10vh;
    }
}