main {
    background-image: url("../../../Images/background.png");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15px;
}


.race {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 0 auto 50px auto;
}

.race div {
    border-top: 10px solid red;
    width: 95%;
    text-align: right;
}

.race img {
    width: 95%;
    border-radius: 20px;
}

h2:first-child {
    color: grey;
}

h2 span {
    font-weight: normal;
}

.klasse {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 5px solid black;
}

.klasse a {
    color: black;
    margin-bottom: 10px;
}

@media (min-width: 800px) {

    .klasse {
        justify-content: flex-start;
        flex-direction: row;
        padding-left: 50px;
        width: 15%;
    }

    main .klasse a {
        margin: 20px 20px 20px 0;
    }

    .race:nth-child(odd) {
        flex-direction: row;
    }

    .race:nth-child(even) {
        flex-direction: row-reverse;
    }

    .race div {
        width: 600px;
        padding: 0 30px;
    }

    .race img {
        width: 800px;
    }

    .race:nth-child(odd) picture {
        margin-left: 10px;
    }

    .race:nth-child(even) picture {
        margin-right: 10px;
    }

    .race:nth-child(odd) div {
        text-align: right;
        margin-right: 10px;
    }

    .race:nth-child(even) div {
        text-align: left;
        margin-left: 10px;
    }
}