body {
    overflow: hidden;
}

.Season7 {
    background-color: #191919;
    border-bottom: 10px solid red;
    min-height: 10%;
}

.Season7 img {
    width: 60%;
    padding: 10px 0;
}

main  div {
    display: flex;
    border-bottom: black 5px solid;
    padding:0;
}

main div div {
    border: none;
}

main div a {
    color: black;
    margin: 20px 10px 20px 0;
}

main a:first-child {
    margin-left: 10px;
}

.background{
    background-image: url("../../../Images/Teamsb.jpg");
    background-size: cover;
}

.Teams {
    border: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 260px);
}

h1 {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    color: black;
    border-bottom: black 5px solid;
    background-color: white;
}

.team:first-child{
    margin-top: 10px;
}

.team {
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 0 auto 20px auto;
    box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.3), 10px 0 15px -5px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
}

.team img {
    max-width: 300px;
}

.team p {
    align-self: flex-start;
    margin: 10px auto 0 10px;
}

.team div {
    align-self: flex-start;
}

.team ol {
    align-self: flex-start;
    margin: 0 auto 5px 10px;
}

.lowercase {
    font-weight: normal;
}

.background {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    .Season7 img {
        width: 40%;
    }

    main div a {
        color: black;
        margin: 20px 20px 20px 0;
    }

    main a:first-child {
        margin-left: 30px;
    }

    .Teams {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        width: 100%;
        height: calc(100vh - 360px);
        background-color: rgba(255, 255, 255, 0);
    }

    .team {
        width: 25%;
        margin: 15px 20px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .team img {
        max-width: 60%;
    }



    h1 {
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: black 2px solid;
    }

    .team:first-child{
        margin-top: auto;
    }
}