body {
    background-color: white;
    overflow: scroll;
}

table {
    width: 95%;
    margin: 0 auto 50px auto;
    border-radius: 20px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid darkslategrey;
    text-align: center;
    font-weight: normal;
}

td, th {
    border-bottom: 3px solid black;
    padding-left: 10px;
}

th {
    background-color: #939393;
    height: 50px;
    border-left: 1px solid darkslategrey;
    border-right: 1px solid darkslategrey;
}

tr:nth-child(even) {
    background-color: #EDEDED;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}

td:nth-child(5) {
    text-align: left;
}